VITE_API_URL=http://localhost:3001
VITE_STREAM_BASE_URL=http://localhost:8001
VITE_STREAM_URL=http://localhost:8001/main.mp3
ICECAST_URL=http://icecast:8001/status-json.xsl
MPD_HOST=mpd
STREAM_BASE_URL=http://localhost:8001
PORT=3001
